<div class="container">
  <div class="row">
    <div class="mt-1 col-md-7 mx-auto">
      <div class="jumbotron card col-md-9 text-bg">
        <p>{{complaint.complaint}}</p>
      </div>

      <div class="chat__main">
        <ol id="messages" class="chat__messages">
          {{#each chat}}
          <li class="message">
            <div class="message__title">
              <h4>{{userName}} </h4>
              <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
              <p>
                {{reply}}
              </p>
            </div>
            </li>
            {{/each}}
      </ol>
      <div class="chat__footer">
        <form action="/{{active}}/chat" method="post" id="message-form">
          <input name="reply" type="text" placeholder="Message" autofocus autocomplete="off" />
          <input type="hidden" name="studentId" value="{{complaint.student_id}}" />
          <input type="hidden" name="complaintId" value="{{complaint.id}}" />
          <button type="submit" class="btn btn-primary" id="reply">Reply</button>
          <a href="" class="btn btn-primary" id="reply">Refresh</a>
        </form>
      </div>
      </div>


    </div>
  </div>
<script>
  $(document).ready(function(){
      function scrollToBottom() {
      // Selectors
      var messages = jQuery('#messages');
      console.log(messages)
      var newMessage = messages.children('li:last-child')
      // Heights
      var clientHeight = messages.prop('clientHeight');
      var scrollTop = messages.prop('scrollTop');
      var scrollHeight = messages.prop('scrollHeight');
      var newMessageHeight = newMessage.innerHeight();
      var lastMessageHeight = newMessage.prev().innerHeight();

      if (clientHeight + scrollTop + newMessageHeight + lastMessageHeight >= scrollHeight) {
        messages.scrollTop(scrollHeight);
      }
    }

    scrollToBottom();
  });
</script>