<div class="container">
  <div class="row">
    <div class="mt-1 col-md-7 mx-auto">
      <div class="jumbotron card col-md-9 text-bg">
        <p>{{complaint.complaint}}</p>
      </div>

      <div class="chat__main">
        <ol id="messages" class="chat__messages">
          {{#each chat}}
          <li class="message">
            <div class="message__title">
              <h4>{{userName}} </h4>
              <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
              <p>
                {{reply}}
              </p>
            </div>
          </li>
          {{/each}}
        </ol>
        <div class="chat__footer">
          <form action="/{{active}}/chat" method="post" id="message-form">
            <input name="reply" type="text" placeholder="Message" autofocus autocomplete="off" id="reply" />
            <input type="hidden" name="complaintId" value="{{complaint.id}}" />
            <button type="submit" class="btn btn-primary" id="send">Reply</button>
          </form>
        </div>
      </div>


      <!-- important ids -->
      <input type="hidden" id="uid" value="{{complaint.student_id}}" />
      <input type="hidden" id="uType" value="{{uType}}" />

    </div>
  </div>
</div>

<script type="mustache/template" id="message-tmpl">
<li class="message">
  <div class="message__title">
    <h4>\{{userName}} </h4>
    <span>\{{createdAt}}</span>
  </div>
  <div class="message__body">
    <p>
      \{{reply}}
    </p>
  </div>
</li>
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/mustache.js"></script>
<script src="/js/chat.js"></script>