<div class="container">
    <div class="row">
        <div class="mt-1 col-md-7 mx-auto">
            <div class="jumbotron card col-md-9 text-bg">
                <p>{{complaint.complaint}}</p>
            </div>
            <div class="reply-form">
                <form action="/student/chat" method="post">
                    <div class="form-group">
                        <textarea class="form-control" name="reply" rows="2" maxlength="500"></textarea>
<input type="hidden" name="complaintId" value="{{complaint.id}}"/>
                    </div>
                    <button type="submit" class="btn btn-ptimary" id="reply">Reply</button>
                </form>
            </div>
        </div>
    </div>
    {{#if chat}}
    <div class="row">
        <div class="chat-pane col-md-9 mx-auto">
{{#each chat}}
            <div class="{{by}}">
                <p>{{reply}}</p>
                <p class="date">{{createdAt}}</p>
            </div>
{{/each}}
        </div>
    </div>
    {{else}}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p>Sorry, you have no chat.</p>
    </div>
    {{/if}}

</div>