<div class="container-fluid p-top">
  <div class="row">
    <div class="col-md-2 sidebar mx-6 p-bottom">
      <!-- sidebar -->
      <ul class="nav flex-column">
        <li class="nav-item" title="Logged in as">
          <a href="/student/index/" class="nav-link active-user">
            @ {{user.firstName}} {{user.lastName}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-sm btn-warning" 
             href="#" data-toggle="modal" data-target="#complaint">
            Make Complaint
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-10 main-pane">
      <!-- main-pane -->
      <div class="card card-body mb-2 mt-2 light-gray" id="complaint">
        <h4>{{complaint}}</h4>
          {{#each complaints}}
          <div class="row mb-3">
            <p class="col-sm-6" title="complaint">{{complaint}}</p>
            <p class="col-sm-4" title="complaint date">{{createdAt}}</p>
            <div class="col-sm-2">
              <a href="/student/chat/{{id}}" class="btn btn-warning">
                Chat
              </a>
            </div>
          </div>
          {{else}}
          <p class="col-md-5 mx-auto">You have no Complaints</p>
          {{/each}}
      </div>
    </div>

  </div>
</div>